<div id="trapezoid-top"></div>
<div id="small-trapezoid-top"></div>
<div id="trapezoid-bottom"></div>
<div id="small-trapezoid-bottom"></div>
<div id="square"></div>
<style>
  body{
    background:#1A4341;
  }
  #trapezoid-bottom{
	border-bottom: 20px solid #F3AC3C;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 130px;
    position:absolute;
    left:120px;
    bottom:60px;
  }
  #trapezoid-top{
	border-bottom: 20px solid #F3AC3C;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 130px;
    position:absolute;
    left:120px;
    top:60px;
    transform:rotate(180deg);
  }
  #small-trapezoid-bottom{
	border-bottom: 20px solid #F3AC3C;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 103px;
    position:absolute;
    left:140px;
    bottom:100px;
  }
  #small-trapezoid-top{
	border-bottom: 20px solid #F3AC3C;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 103px;
    position:absolute;
    left:140px;
    top:100px;
    transform:rotate(180deg);
  }
  #square{
	background:#F3AC3C;
	width: 100px;
    height:20px;
    position:absolute;
    left:150px;
    top:140px;
  }
</style>
