<div id="big-box"></div><div id="yellow-box"></div><style>body {
    background: #E38F66;
}

#big-box {
    width: 200px;
    height: 200px;
    background: #AA445F;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 50px;
}

#yellow-box {
    width: 80px;
    height: 80px;
    background: #AA445F;
    border-radius: 50%;
    border: 30px solid #F7EC7D;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 130px;
    top: 80px;
    transform: rotate(45deg);
}

</style>