<div id="big-box"></div>
<div id="second-box"></div>
<div id="middle-box"></div>
<style>
  body{
    background:#6592CF;
  }
  #big-box{
    width: 250px;
    height: 250px;
    background: #243D83;
    position:absolute;
    left:75px;
    top:25px;
  }
    #second-box{
    width: 150px;
    height: 150px;
    background: #6592CF;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) rotate(15deg);
  }
    #middle-box{
    width: 75px;
    height: 75px;
    background: #243D83;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) rotate(30deg);
  }
</style>
