<div id="orange-bottom"></div>
<div id="orange-top"></div>
<div id="blue-bottom"></div>
<div id="blue-top"></div>
<style>
  body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  #orange-bottom{
    width: 32px;
    height: 85px;
    background: #F2994A;
    border-radius:10px 0px 10px 0px;
    transform:rotate(-45deg);
    position:absolute;
    left:148px;
    top:108px;
  }
  #orange-top{
    width: 32px;
    height: 75px;
    background: #F2994A;
    transform:rotate(45deg);
    position:absolute;
    left:163px;
    top:63px;
  }
  #blue-top{
    width: 30px;
    height: 60px;
    background: #2D9CDB;
    border-top-left-radius:5px;
    position:absolute;
    left:214px;
    top:112px;
    transform:rotate(-45deg);
  }
     #blue-bottom{
    width: 27px;
    height: 100px;
    background: #2D9CDB;
    border-top-right-radius:9px;
    position:absolute;
    left:215px;
    top:142px;
        transform:rotate(45deg);
  }
</style>