<div class="big-circle">
<div id="circle-hair"></div>
<div id="mouth"></div>
<div id="eyes"></div>
</div>
<style>
  body{
    background:#293462;
  }
  .big-circle{
    width: 200px;
    height: 200px;
    background: #FE5F55;
    position:absolute;
    left:100px;
    top:50px;
    border-radius:100px 100px 50px 50px;
    overflow:hidden
  }
  #circle-hair{
    width:100px;
    height:100px;
    background:#FFF1C1;
    border-radius:100%;
    position:absolute;
    top:-50;
    box-shadow:100px 0px #FFF1C1;
  }
  #eyes{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#FFF1C1;
    position:absolute;
    top:90px;
    left:20px;
    box-shadow:100px 0px #FFF1C1;
  }
  #mouth{
    width:40px;
    height:10px;
    background:#FFF1C1;
    position:absolute;
    top:170px;
    left:80px;
    border-radius:25px 25px 25px 25px;
  }
</style>
