<div class="dreptunghi-stanga"></div><div class="dreptunghi-dreapta"></div><div class="dreptunghi-stanga-45"></div><div class="dreptunghi-dreapta-45"></div><div class="box-centru"></div><div class="circle"></div><style>.box-centru {
  width: 150px;
  height: 150px;
  background: #4CAAB3;
  transform: rotate(45deg);
  position: absolute;
  left: 124px;
  top: 75px;
}

.circle {
  width: 50px;
  height: 50px;
  background: #393E46;
  border-radius: 50px;
  position: absolute;
  left: 175px;
  top: 125px;
}

.dreptunghi-stanga-45 {
  width: 150px;
  height: 150px;
  background: #222730;
  transform: rotate(45deg);
  position: absolute;
  left: 54px;
  top: 75px;
}

.dreptunghi-stanga {
  width: 120px;
  height: 150px;
  background: #4CAAB3;
  position: absolute;
  margin: 0px;
  padding: 0px;
  ;
  left: -20px;
  top: 75px;
}

.dreptunghi-dreapta-45 {
  width: 150px;
  height: 150px;
  background: #222730;
  transform: rotate(45deg);
  position: absolute;
  right: 54px;
  top: 75px;
}

.dreptunghi-dreapta {
  width: 120px;
  height: 150px;
  background: #4CAAB3;
  position: absolute;
  margin: 0px;
  padding: 0px;
  ;
  right: -20px;
  top: 75px;
}

body {
  background: #222730;
}

</style>